@model IEnumerable<Booking.Models.Rooms>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.room_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.capacity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.room_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.capacity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.room_id.Trim() }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Details", "Details", new { id=item.room_id.Trim() }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.room_id.Trim() }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
