@model Booking.Models.Entities.Bookings

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bookings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.booking_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.booking_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.start_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.end_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.end_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.participants)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.participants)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.room_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.users_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.users_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Booking_id }) |
    <div class="btn btn-link">
        <h4 style="color:darkturquoise">@Html.ActionLink("Back to List", "Index")</h4>
    </div>
</p>
